.container{
    font-size: 30px;
}
#Question{
    text-align: center;
    background-color: lightblue;
}
.ans{
    text-align: center;
    background-color: yellow;
}
#Timer{
    text-align: center;
}